<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">

<header></header>
<section>
  <div class="wrapper">

    <div id="countdown">
      <div class="cd-box">
        <p class="numbers days">{{daysToDday}}</p><br>
        <p class="strings timeRefDays">Days</p>
      </div>
      <div class="cd-box">
        <p class="numbers hours">{{hoursToDday}}</p><br>
        <p class="strings timeRefHours">Hours</p>
      </div>
      <div class="cd-box">
        <p class="numbers minutes">{{minutesToDday}}</p><br>
        <p class="strings timeRefMinutes">Minutes</p>
      </div>
      <div class="cd-box">
        <p class="numbers seconds">{{secondsToDday}}</p><br>
        <p class="strings timeRefSeconds">Seconds</p>
      </div>
    </div>
    <!-- end div#countdown -->

    <footer>
      <p class="peshka">Ohhhhhhhh it's Bogdanna's birthday <strong>February 3st 2022</strong></p>
      <br>

    </footer>

  </div>
</section>
